.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
